*{
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}



header{
    background-color:darkgray;
    display: flex;
    align-items: center;
    height: 150px;
    
    
    
}



header h1 {
    color: white;
    padding-left: 35px;
    margin-left: 410px;
}

nav{
    background-color:darkgray;
    padding-left: 0px;
    
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: 426px;
}

nav li{
    padding: 10px 20px;
}

main{
    
    margin: auto;
    padding: 25px 20px;
    width: 1016px;
    background-color: white;

}

main h1{
    text-align: center;
    margin-bottom: 25px;
    text-align: left;

}

main p{
    text-align: justify;
    line-height: 24px;
    margin-bottom: 20px;
}

aside{
    background-color: bisque;
    height: 200px;
    display: flex;
    justify-content: center;
    
    
    
}



.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.356);
}

.card:first-child{
    margin-left: 0;
}

.cards{
    display: flex;
    padding: 32px;
    
}



.card span{
    
    width: 200px;
    font-size: 14px;
}

.section2{
    height: 500px;
    margin: auto;
    width: 1016px;
    padding: 25px 20px;
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;

}

.icon{
    width: 64px;
    height: 64px;
}

.icon img{
    width: 100%;
    height: 100%;
}

.card h3{
    font-size: 16px;
}


.cardnoticia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsnoticia img{
    
   
    width: 300px;
    height: 200px;
    padding-left: 30px;
}

.texto h1{
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
}









